iframe {
  border: none;
  margin: 0em;
  padding: 0;
  marginwidth:0;
  marginheight:0;
  frameborder: 0;
}

.iframe.inline {
    white-space: nowrap;
	font-size:0;	
}



<embed src="receipt.pdf" width="600" height="500" alt="pdf"">
	
	<iframe src="file:///C:/Users/Ethan S/Desktop/ADVENTJAVA-MP1.pdf" style="width:718px; height:700px;" frameborder="1"></iframe>
	<a href="index.jsp">Back</a>